.container-dashboard {

  width: 850px;
  height:700px;
  margin-left: 280px;
  margin-top: 125px;
}

.tabs {
  display:flex;

}

h3 {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 0px;
}


h4, a {
  text-decoration: none;
  font-family: 'Brown', sans-serif;
  color: #282828;
}

a{
  margin-top: 10px;
  margin-bottom: 10px;
}
a:hover {
    color: #282828;
    text-decoration: none;
}



#container{
  width: 200px;
  height: 100px;
  margin: 20px;

}

.stats {
  width: 360px;

}



.deselected {
  font-weight: normal;
}

.left {

  margin-left: 40px;
}

