// Specific CSS for your home-page

body {
  font-family: 'Brown', sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brown', sans-serif;
}


#home_cards{
  overflow: initial;
}

.action {
  background-color: red;
  width:100px;
  height:100px;
  margin-right: 15px;

}

.cards {
  border-top: 3px solid rgb(40, 40, 40);
  height:600px;
  overflow: scroll;
}

.card {
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  align-items:center;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: rgb(180, 180, 180);
  border-width: 1px;
}

.try {
  margin: 50px 30px 35px 0px;
  font-weight: 700;
}

.info{
  padding: 15px;
}

 h4 {
  color: #282828;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 2px;


}

.info p {
  color: rgb(119, 119, 119);
  margin: 0px;
  padding: 2px;
  font-weight: normal;
  line-height: 1.2em;

}


.modal-header {
  display: flex;
}

.modal {
  // position: relative;
  top: 100px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow:hidden;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  margin: 0px auto;
  max-width: 500px;
  max-height: 535px;


}

#modal_confirmation {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);

  border-radius: 4px;
  outline: none;
  padding: 0px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  margin: 0px auto;
  max-width: 500px;
  max-height: 550px;
}


.header_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_form {
  margin: 30px;
}

.hs-form {
  position: absolute;
  width: 400px;

}

.hbspt-form {
  position: relative;
  left: 55px;
  max-width: 430px;

}

#myform {
  position: relative;
}

.header-form {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-right: 15px;
}


.actions {
  margin-top: 0px;
  padding:0px;
  background-position: center ;
}

#open_button {
  width: 100px;
  height: 100px;
  background-color: black;
  color:white;
  border-style: none;
  font-weight: 700;
  padding: 1px 7px 2px;
}

.container {

  display:flex;
  flex-direction: column;
  margin-bottom: 60px;
  max-width: 980px;
  color: #282828;
}


.container_devise, .registration {

  width:500px;
  left:500px;
  position:relative;
  top:150px;

}

table {
  width: 880px;
}














