<div class="banner" style="background-image: linear-gradient(-225deg, rgba(10,10,10,0.4) 40%, rgba(100,100,100,0.0) 50%), url('https://res.cloudinary.com/dbiigubyd/image/upload/v1555919971/ov4kweld6qfg0sx6q1bw.png');">
  <div class="header">
    <h1 class="title">Activités illimitées, seulement 40€/mois .</h1>
    <p>Education, obéissance, jeux, sports canin, ... </p>
  </div>
</div>


<!-- # http://cdn.akc.org/content/article-body-image/dog_training_1jpg.jpg

# https://windycitypaws.com/wp-content/uploads/2016/02/Two-dogs-with-leash-e1483989040950.jpg
# https://blog.ferplast.com/wp-content/uploads/2015/12/cane-golden-giornata-piovosa-pioggia-ombrello-stivali-fango.jpg

# https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80 -->


<!-- -->


<!-- linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%),  -->
