<div class="sidebar sticky">
  <ul class="nav-list">
    <%= link_to dashboard_dogs_path do %>
      <li>My dogs <i class="fas fa-dog"></i></li>
    <%end%>
    <%= link_to dashboard_schedule_path  do %>
      <li>Train <i class="fas fa-calendar-alt"></i></li>
    <%end%>
    <%= link_to upcoming_classes_path do %>
      <li>My classes <i class="fas fa-users"></i></li>
    <%end%>
  </ul>
</div>

<script>
  window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("sidebar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>


