.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: rgba(40, 40, 40, 1.0);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000000000;
}



#logo {

  margin:10px 40px 10px 25px;
}

.text_navbar {
  margin-right: 10px;


}

.name {
  margin-left: 15px;
}

#nav_content {
  margin-right: 30px;
}

.but {
  cursor: pointer;
  width: 120px;
  font-size: 14px;
  background: rgb(226, 255, 0);
  border-color: rgb(229, 253, 63);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 4px;
  font-weight: 600;
  color: rgba(40, 40, 40, 1.0)
}

.contrast {
  color: white;
  background-color: rgba(40, 40, 40, 1.0);

}



